<div  id="back" #homeSection>
  <div class="navbar-fixed">
  <div class="row" id="whole">
    <div class="col-sm-4"></div>

    <div class="col-sm-1 ab-nav" (click)="scrollTo('home')">
      <i style="color:white" class="fa-solid fa-house"></i>
      <p class="ab">Home</p>
    </div>

    <div class="col-sm-1 ab-nav" (click)="scrollTo('about')">
      <i style="color:white" class="fa-solid fa-circle-user"></i>
      <p class="ab">About</p>
    </div>

    <div class="col-sm-1 ab-nav" (click)="scrollTo('service')">
      <i style="color:white" class="fa-solid fa-clipboard"></i>
      <p class="ab">Services</p>
    </div>

    <div class="col-sm-1 ab-nav">
      <i style="color:white" class="fa-solid fa-briefcase"></i>
      <p class="ab">Projects</p>
    </div>

    <div class="col-sm-1 ab-nav" (click)="scrollTo('skill')">
      <i style="color:white" class="fa-brands fa-squarespace"></i>
      <p class="ab">Skill</p>
    </div>
  </div>
</div>
<div class="container">
<div class="row" style="margin-top: 70px;">

  <div class="col-sm-1"></div>
  <div class="col-sm-6">
    <h5 style="color: white;">Hello EveryOne</h5>
   <h2 style="margin-top: 25px;font-size: 40px;">
    <span style="color: white;">I am </span>
    <span style="color: blue;">Muhammad Asadullah</span>
   </h2>
   <h2 style="color: blue;margin-top: 25px;font-size: 40px;font-style: italic;">Full Stack Developer</h2>
    <button class="submit" id="button" (click)="scrollTo('contact')" >Hire Me</button>

  </div>
  
  <div class="col-sm-4"><img style="border-radius: 500px;border: 3px solid blue;" src="../../assets/WhatsApp Image 2026-01-25 at 13.21.25.jpeg" alt="" width="320px"></div>
</div>
</div>

<div class="container">

<div id="asad" class="row" #aboutSection>
<div class="col-sm-1"></div>
<div class="col-sm-4"><img src="../../assets/about.svg" alt="" width="470px"></div>
<div class="col-sm-1"></div>
<div class="col-sm-4"><h2 style="text-align: center;">
  <span style="color: white;">About</span>
  <span style="color: blue;"> Me </span>
  <span><i style="color: rgb(241, 227, 20);" class="fa-solid fa-face-smile"></i></span>
</h2><p style="color: white;">I'm a passionate Full Stack Developer 🚀 having 2+ years of experience in building responsive, robust, scalable, and user-friendly web applications. I'm highly skilled professional developer who loves to take the challenges and then solve them. <br> 
  <br>

From frontend design to backend architecture, I have a comprehensive skill set that allows me to tackle complex challenges and bring creative ideas to life. I also have a strong focus on DevOps practices and am experienced in Docker, Kubernetes, and cloud technologies like AWS, ensuring seamless deployment and performance at scale. I believe in clean, maintainable code and user-centric designs that are intuitive and easy to use.</p></div>

</div>

<div>
<h1 style="margin-left: 26px;" #serviceSection>
  <span style="color: white;">Serv</span>
  <span style="color: blue;">ices    </span>
  <span> <i style="color: rgb(92, 92, 238);" class="fa-solid fa-handshake"></i></span>
</h1>
</div>
</div>

<div class="container">

<div class="row" style="margin-top: 33px;">
  
  <div class="col-sm-3" id="web">
    <i class="fa-brands fa-discord"></i>
    <h6 style="font-size: 19px;margin-top: 7px;">Web Applications Development</h6>
    <p style="font-size: 15px;color: rgb(122, 120, 120);text-align: center;">Developing responsive and dynamic web applications using modern frameworks and technologies such as React.js, Next.js and TailwindCss for front-end, and Node.js, Express.js, GraphQL and API Integration for back-end with Docker, Kubernetes, Redis for containerization</p>
  </div>

<div class="col-sm-3" id="ecom">
<i style="color: white;size: 50px;margin-left: 12px;" class="fa-solid fa-earth-americas"></i>
<h6 style="margin-top: 7px;font-size: 19px;text-align: center;">E-Commerance Solutions</h6>
<p style="font-size: 15px;text-align: center;color: rgb(122, 120, 120);">Building robust e-commerce platforms with features such as product management, shopping cart, payment gateway integration, and order processing using technologies like Magento, Shopify, and custom-built solutions.</p>
</div>

<div class="col-sm-3" id="api">
  <i class="fa-brands fa-stack-overflow"></i>
  <h6 style="text-align: center;font-size: 19px;">API Development & Integration</h6>
  <p style="text-align: center;font-size: 15px;color: rgb(122, 120, 120);">Creating and integrating RESTful and GraphQL APIs to enable seamless communication between different software components, and third-party services.</p>
</div>

</div>
</div>

<div class="container">

<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div id="data" class="col-sm-3">

    <i class="fa-solid fa-book"></i>
    <h6 style="font-size: 20px;text-align: center;">Database Design & Management</h6>
    <p style="font-size: 15px;color: rgb(122, 120, 120);text-align: center;">Designing, implementing, and managing databases using NoSQL (MongoDB) databases to ensure data integrity, security, and performance.</p>

  </div>

  <div id="clean" class="col-sm-3">
    <i class="fa-solid fa-code"></i>
    <h6>Maintenance & Clean Code</h6>
    <p style="font-size: 15px;text-align: center;color: rgb(122, 120, 120);">I offer services to help you write clean, maintainable code that is easy to understand and scale. By following best practices, implementing modular designs, and ensuring proper documentatio</p>
  </div>

</div>

<div>
  <h1 style="margin-left: 470px; margin-top: 90px;font-size: 49px;" #skillSection>
    <span style="color: white;">Ski</span>
    <span style="color: blue;">lls  </span>
    <span><i style="color: white;" class="fa-solid fa-person"></i></span>
  </h1>
</div>
</div>

<div class="container">
<div class="row" id="logo">
  <div class="col-sm-2"></div>
  <div class="col-sm-1"><img id="img" src="../../assets/html.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/nodejs.svg" alt="" width="110px">
  </div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/nextjs.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/express.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/github.svg" alt="" width="110px"></div>
</div>
</div>

<div class="container">

<div class="row" style="margin-top: 50px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-1"><img id="img" src="../../assets/js.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/reactjs.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/mongodb.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/ts.svg" alt="" width="110px"></div>
  <div class="col-sm-1" style="margin-left: 60px;"><img id="img" src="../../assets/python.svg" alt="" width="110px"></div>
</div>
</div>

<div class="container">

<div class="row" style="margin-top: 50px;" #contactSection>

  <div class="col-sm-5"><img style="height: 523px;" src="../../assets/images.jpg" alt="" width="1230px"><p (click)="path('/about')">.</p></div>

  <div class="col-sm-5">
    <h1 style="text-align: center;">
      <span style="color: white;">Get in </span>
      <span style="color: blue;">Touch </span>
      <span><i style="color: white;" class="fa-solid fa-users"></i></span>
    </h1>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <label id="name" for="name"></label>
      <input class="name" type="text" id="name" formControlName="name" placeholder ="Enter Name">
      <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
        <small style="color: red;" *ngIf="myForm.get('name')?.hasError('required')">Name is required</small>
        <small style="color: red;" *ngIf="myForm.get('name')?.hasError('minlength')">At least three chracter is required</small>
      </div><br>
      <label id="email" for="email"></label>
      <input class="email" type="email" id="email" formControlName="email" placeholder="Enter Email">
      <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
        <small style="color: red;" *ngIf="myForm.get('email')?.hasError('required')">enter a email</small>
        <small style="color: red;" *ngIf="myForm.get('email')?.hasError('email')">enter a valid email</small>
      </div> <br>
      <label id="phone" for="phone"></label>
      <input class="phone" id="phone" formControlName="phone" placeholder="Enter phone">
      <div *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched">
        <small style="color: red;" *ngIf="myForm.get('phone')?.hasError('required')">phone number is required</small>
        <small style="color: red;" *ngIf="myForm.get('phone')?.hasError('minlength')">At least 11 chracter is required</small>
      </div> <br>
      <label id="message" for="message"></label>
      <input class="message" type="text" id="message" formControlName="message" placeholder="Message">
      <div *ngIf="myForm.get('message')?.invalid && myForm.get('message')?.touched">
        <small style="color: red;" *ngIf="myForm.get('message')?.hasError('required')">enter the message</small>
        <small style="color: red;" *ngIf="myForm.get('message')?.hasError('minlength')">At least three chracter is required</small>
      </div><br>
      <button class="button" type="submit" [disabled]="myForm.invalid" >Send msg <i class="fa-solid fa-paper-plane"></i></button>
    </form>
  </div>
</div>
</div>

<div>
  <h1 class="talk">
    Let's Talk With Me! <i style="color: rgb(2, 2, 85);" class="fa-solid fa-phone"></i>
  </h1>
  <p style="text-align: center;color: rgb(122, 120, 120);">An open invitation to connect, and exploring collaborative opportunities on my  </p><p style="text-align: center;color: rgb(122, 120, 120);">social accounts.</p>
</div>

<div class="container">

<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-1"><a href="https://www.tiktok.com/@asadullahshafiqas?_r=1&_t=ZS-93RkyOxc3ZE"><img style="border-radius: 40px;" src="../../assets/tiktok.png" alt="" width="40px"></a></div>
  <div class="col-sm-1" style="margin-left: -35px;"><a href="https://github.com/AsadullahWeb"><img style="background-color: rgb(122, 120, 120);border-radius: 40px;" src="../../assets/github.svg" alt="" width="40px"></a></div>
  <div class="col-sm-1" style="margin-left: -35px;"><a href="https://www.instagram.com/asad4.465?igsh=MW4ya20xeTJneHR0bQ=="><img style="border-radius: 70px;background-color: rgb(241, 224, 224);" src="../../assets/insta.png" alt="" width="40px"></a></div>
  <div class="col-sm-1" style="margin-left: -35px;"><a href="https://www.facebook.com/share/1ZCuZi64u6/"><img style="border-radius: 40px;" src="../../assets/facebbok.jpg" alt="" width="40px"></a></div>


</div>
</div>

<br>
</div>